<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
    <category label="32000">
        <setting label="32001" type="slider" id="page-size" default="25" range="1,100" option="int"/>
    </category>
    <category label="32010">
        <setting label="32011" type="text" id="guidebox-api-key" default="rKt8jl2G47wjhqAVXtQcAYirK8AnYtw6"/>
        <setting label="32012" type="text" id="fanart-tv-api-key" default="26a00f5c62ede3937960671cac9cb400"/>
        <setting label="32013" type="text" id="thetvdb-api-key" default="A52EA92456253FB8"/>
    </category>
    <category label="32020">
        <setting label="32021" type="text" id="favorite-channels" default=""/>
        <setting label="32022" type="text" id="favorite-shows" default=""/>
    </category>
</settings>
